<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>URL SHORTENER</h1>
    <form action="your-url">
        <label for="url">Website URL</label>
        <input type="url" name="url" required value="">
        <br>
        <label for="code">Short Name</label>
        <input type="text" name="code" required value="">
        <br>
        <button type="submit">shorten</button>
    </form>
  </body>
</html>
